
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <img src="assets/logo.png" width="10%" height="100%" alt="">
      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  

      <a routerLink="home" style="color: white;" >
        <button mat-icon-button class="icon home-icon btn btn-light" aria-label="">
          <mat-icon>home</mat-icon>
        </button>
      </a>&nbsp;&nbsp;&nbsp;
      
        <div>
          <a class="nav-link dropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color:#ffffff;" class="lead" *ngIf="autServ.verificarUsuarioLogueado()"> 
            Formularios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"   >
            <a class="dropdown-item" routerLink="provincia" >Provincia</a>
            <a class="dropdown-item" routerLink="localidad"> Localidad </a>
            <a class="dropdown-item" routerLink="tipo-acompaniamiento"> Descripcion de HOME </a>
            <a class="dropdown-item" routerLink="categoria-donaciones"> Categoria Donaciones   </a>
            <a class="dropdown-item" routerLink="categoria-galeria"> Categoria Galeria  </a>
            <a class="dropdown-item" routerLink="categoria-evento"> Categoria Eventos  </a>
            <a class="dropdown-item" routerLink="donaciones">Donaciones</a>
            <a class="dropdown-item" routerLink="admin-galeria">Galeria</a>
            <a class="dropdown-item" routerLink="admin-evento">Eventos</a>
            <a class="dropdown-item" routerLink="admin-cuidados">Cuidados</a>
            <a class="dropdown-item" routerLink="quienes">¿Quienes somos?</a>

          </div>    
          
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="eventos" style="text-decoration: none; color:#ffffff; " class="lead">
          Eventos
         </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="cuidados" style="text-decoration: none; color:#ffffff; " class="lead">
          Cuidados
         </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="galeria" style="text-decoration: none; color:#ffffff; " class="lead">
          Galeria
         </a>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="quienes-somos" style="text-decoration: none; color:#ffffff; " class="lead">
          ¿Quiénes somos?
         </a>&nbsp;&nbsp;&nbsp; &nbsp;
         <a href="https://m.facebook.com/fundacionsendero/?locale2=es_LA" style="color: white;" target="_blank">
          <button mat-icon-button class="icon facebook-icon btn btn-light" aria-label="">
            <mat-icon>facebook</mat-icon>
          </button>
        </a>&nbsp;&nbsp;&nbsp;
        
          <a href="https://web.whatsapp.com/" style="color: rgb(247, 247, 247);" target="_blank">
            <button mat-icon-button class="icon phone-icon btn btn-light" aria-label="">
              <mat-icon>phone_android</mat-icon>
            </button></a>&nbsp;&nbsp;&nbsp;
    
          <a href="https://mail.google.com/" style="color: white;" target="_blank">
          <button mat-icon-button class="icon mail-icon btn btn-light" aria-label="">
            <mat-icon>mail</mat-icon>
          </button>

         </a> &nbsp;&nbsp;&nbsp; &nbsp;
        
        <a routerLink="donaciones-detalle" style="text-decoration: none; color:#ffffff; " class="lead" >
         Donaciones
        </a>&nbsp;&nbsp;&nbsp; &nbsp;

        <a routerLink="registro" style="text-decoration: none; color:#ffffff; " class="lead" *ngIf="autServ.verificarUsuarioLogueado()">Registrarse</a>
        &nbsp;&nbsp;&nbsp; &nbsp;

         <ng-container *ngIf="!autServ.verificarUsuarioLogueado();else cierresesion">
         
           <a routerLink="ingreso" style="text-decoration: none; color:#ffffff; " class="lead">Ingresar</a>
         </ng-container>
         <ng-template #cierresesion>
          <a (click)="autServ.cerrarSesion()" style="text-decoration: none; color:#ffffff; cursor: pointer;" class="lead">Salir</a>
         </ng-template>
      </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


