
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <img src="" width="10%" height="10%" alt="">
      <b><i><a mat-list-item routerLink="" style="text-decoration: none; color: #ffffff; font-size:xxx-large;" >Fundacion Seno</a></i></b>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  
        <div>
          <a class="nav-link dropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; color:#ffffff;" class="lead">
            Formularios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"   >
            <a class="dropdown-item" routerLink="provincia" >Provincia</a>
            <a class="dropdown-item" routerLink="localidad"> Localidad </a>
            <a class="dropdown-item" routerLink="tipo-acompaniamiento"> Tipo de Acompañamiento   </a>
            <a class="dropdown-item" routerLink="categoria-donaciones"> Categoria Donaciones   </a>
            <a class="dropdown-item" routerLink="categoria-galeria"> Categoria Galeria  </a>
            <a class="dropdown-item" routerLink="categoria-evento"> Categoria Eventos  </a>
            <a class="dropdown-item" routerLink="donaciones">Donaciones</a>
            <a class="dropdown-item" routerLink="admin-galeria">Galeria</a>
            <a class="dropdown-item" routerLink="admin-evento">Eventos</a>
            <a class="dropdown-item" routerLink="admin-cuidados">Cuidados</a>
            <a class="dropdown-item" routerLink="quienes">¿Quienes somos?</a>

          </div>    
          
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="eventos" style="text-decoration: none; color:#ffffff; " class="lead">
          Eventos
         </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="cuidados" style="text-decoration: none; color:#ffffff; " class="lead">
          Cuidados
         </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="galeria" style="text-decoration: none; color:#ffffff; " class="lead">
          Galeria
         </a>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="  " style="text-decoration: none; color:#ffffff; " class="lead">
          Pelucas
         </a>
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; 
        
        <a routerLink="  " style="text-decoration: none; color:#ffffff; " class="lead">
          Contacto
         </a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
         <a routerLink="   " style="text-decoration: none; color:#ffffff; " class="lead">
          Donaciones
         </a>

        

      </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


