
<br>
<div align="center" >
    <h1><i>Fundacion S.E.N.O &nbsp;</i></h1>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" >
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"  style="overflow: hidden; border-radius: 15px;">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div *ngFor="let evento of lista_eventos;let i = index; let primero = first" [ngClass]="{active:primero}"class="carousel-item ">
                
                <img style="height: 550px; width: 400px;" [src]="evento.imagen_portada" class="d-block w-100" alt="...">
              </div>
          
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
       
        </div> 
    </div>
    <div class="container">
        <br><h2><p>Breve descripcion</p></h2><br>
        <div class="row">
            <div *ngFor="let tipo of listAcomp" >
                <h3 align="justify" [innerHtml]="tipo.descripcion"></h3>
            </div>
        </div>
        <div class="div" align="center" *ngFor="let tipo of listAcomp">
          <button (click)="verMasDescripcion(tipo)" mat-icon-button class="icon create-icon btn btn-info" >
            <mat-icon>arrow_drop_down_circle</mat-icon>
        </button>
         
        </div>
    </div>

<div class="container">
    <br><h2><p>Galeria</p></h2><br>
  <div class="row">
    <div *ngFor="let galeria of lista_galeria;let i = index" class="col-lg-3" >
        <div *ngIf="galeria.estado_home == 1 ">
        <div class="img-box1" >
            <img style="height:auto" class="img-responsive" [src]="galeria.imagen_portada" >
          </div>
    </div>
</div>
</div>

</div>

<div class="container">
    <br><h2><p>Eventos</p></h2><br>
  <div class="row">
    <div *ngFor="let evento of lista_eventos;let i = index" class="col-lg-3" >
        <div *ngIf="evento.estado_home == 1 ">
        <div class="card" style="width: 17rem;  border-radius: 15px; border-color: rgb(216, 0, 205);">
            <img style="height:auto" [src]="evento.imagen_portada" class="img-responsive" alt="...">
            <div class="card-body">
              <h3 class="card-title"><b>{{evento.titulo}}</b></h3>
              <h3 class="card-title">Fecha y hora: {{evento.fecha_hora}}</h3>
              <h3 class="card-title">Precio: ${{evento.precio}}</h3>
              <a type="button" class="btn btn-outline-info" (click)="verMasEventos(evento)" >Ver mas</a>
             
            </div>
          </div>
    </div>
</div>
</div>
</div>

<div class="container">
  <br><h2><p>Tipos de cuidados</p></h2><br>
<div class="row">
  <div *ngFor="let cuidados of lista_cuidados" class="col-lg-3" >
      <div class="card" style="width: 17rem;  border-radius: 15px; border-color: #ff9100bd;">
          <img style="height:auto" [src]="cuidados.imagen_portada" class="img-responsive" alt="...">
          <div class="card-body">
            <h3 class="card-title"><b>{{cuidados.titulo}}</b></h3>
            <a type="button" class="btn btn-outline-info" (click)="verMasCuidados(cuidados)" >Ver mas</a>
          </div>
        </div>
  </div>
</div>
</div>

</div>