
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <div class="row">
                   <div class="col-sm-6">
                       <div class="form-group">
                        <input placeholder="Ingrese tipo de acompañamiento a buscar" [(ngModel)]="buscarAcomp" type="text" class="form-control">
                       </div>
                   </div>
                </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let acompaniamiento of listAcomp | filter:buscarAcomp | paginate:{itemsPerPage:5, currentPage:p}">
                        <td>{{acompaniamiento.id_acomp}}</td>
                        <td>{{acompaniamiento.descripcion}}</td>
                        <td>
                            <div class="btn-group">
                                <button (click)="eliminarAcomp(acompaniamiento.id_acomp);"mat-icon-button class="icon delete-icon btn btn-danger" aria-label="">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button (click)="editarAcomp(acompaniamiento)" mat-icon-button class="icon create-icon btn btn-primary" aria-label="">
                                    <mat-icon>create</mat-icon>
                                </button>
                            </div>
                        </td>
    
                    </tr>
                </tbody>
            </table>
                <div class="row">
                    <div class="col-sm-6">
                        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
                    </div>
                </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Formulario de acompañamiento</div>
                <div class="card-body">
                    <form [formGroup]="formAcomp" (ngSubmit)="guardarAcomp()" >
                        <div class="form-group" >
                        <input formControlName="id_acomp" type="hidden"class="form-control" >
                        </div>
                        <div class="form-group">
                        <input [ngClass]="{'is-invalid': (formAcomp.get('descripcion')?.touched || formAcomp.get('descripcion')?.dirty) && formAcomp.get('descripcion')?.invalid }" formControlName="descripcion" placeholder="Ingrese un acompañamiento" type="text"class="form-control">
                            <div class="invalid-feedback">
                                <span *ngIf="formAcomp.get('descripcion').hasError('required')">Campo requerido / </span>
                                <span *ngIf="!formAcomp.get('descripcion').hasError('minLength')">Minimo de 4 caracteres</span>
                            </div>
                        </div>
                        <button [disabled]="formAcomp.invalid" class="btn btn-success">Guardar acompañamiento</button>
                    </form>
                </div>
    
            </div>
    
        </div>
    </div>
</div>
