<br>
<div class="container">
  <div class="row">
    <b><i>Galerias</i></b> 
  </div><br><br>
  <div class="row">

    <div *ngFor="let galeria of lista_galeria" class="col-lg-3">
        <div class="card" style="width: 17rem;  border-radius: 15px; border-color: #5e00da;">
            <img style="height:180px" [src]="galeria.imagen_portada" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" [innerHtml]="galeria.descripcion"></h3>
             
              <a type="button" class="btn btn-outline-info" (click)="verMas(galeria)" >Ver mas</a>
            </div>
          </div>
    </div>
</div>

</div>


