<br>
<div class="container">
  <div class="row">

    <div *ngFor="let evento of lista_eventos" class="col-lg-3">
        <div class="card" style="width: 17rem;  border-radius: 15px; border-color: #0aa598bd;">
            <img style="height:180px" [src]="evento.imagen_portada" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{evento.titulo}}</h3>
             
              <a type="button" class="btn btn-outline-info" (click)="verMas(evento)" >Ver mas</a>
            </div>
          </div>
    </div>
</div>
</div>

