<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let provincia of listProvincias">
                        <td>{{provincia.id_provincia}}</td>
                        <td>{{provincia.descripcion}}</td>
                        <td>
                            <div class="btn-group">
                                <button (click)="eliminarProvincia(provincia.id_provincia);"mat-icon-button class="icon delete-icon btn btn-primary" aria-label="">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button (click)="editarProvincia(provincia)" mat-icon-button class="icon create-icon btn btn-info" aria-label="">
                                    <mat-icon>create</mat-icon>
                                </button>
                            </div>
                        </td>
    
                    </tr>
                </tbody>
            </table>
    
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Formulario de provincia</div>
                <div class="card-body">
                    <form [formGroup]="formProvincia" (ngSubmit)="guardarProvincia()" >
                        <div class="form-group" >
                        <input formControlName="id_provincia" type="hidden"class="form-control" >
                        </div>
                        <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese una provincia" type="text"class="form-control">

                        </div>
                        <button class="btn btn-success">Guardar provincia</button>
                    </form>
                </div>
    
            </div>
    
        </div>
    </div>
</div>