<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <div class="row">
                   <div class="col-sm-4">
                       <div class="form-group">
                        <input [(ngModel)]="buscarProvincia" type="text" class="form-control">
                       </div>
                   </div>
                </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let provincia of listProvincias | filter:buscarProvincia">
                        <td>{{provincia.descripcion}}</td>
    
                    </tr>
                </tbody>
            </table>
    
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Formulario de provincia</div>
                <div class="card-body">
                    <form [formGroup]="formProvincia" (ngSubmit)="guardarProvincia()" novalidate>
                        <div class="form-group">
                        <input [ngClass]="{'is-invalid': (formProvincia.get('descripcion')?.touched || formProvincia.get('descripcion')?.dirty) && formProvincia.get('descripcion')?.invalid }" formControlName="descripcion" placeholder="Ingrese una provincia" type="text"class="form-control">
                            <div class="invalid-feedback">
                                <span *ngIf="formProvincia.get('descripcion').hasError('required')">Campo requerido / </span>
                                <span *ngIf="!formProvincia.get('descripcion').hasError('minLength')">Minimo de 4 caracteres</span>
                            </div>
                        </div>
                        <button [disabled]="formProvincia.invalid" class="btn btn-success">Guardar provincia</button>
                    </form>
                </div>
    
            </div>
    
        </div>
    </div>
</div>