<div class="row">
    <div class="col-lg-6">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID IMG Galeria</th>
                    <th>Imagen</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fila of imagenes_galeria">
                <td>{{fila.id_img_galeria}}</td>
                <td>
                    <img class="img-fluid" [src]="fila.imagen" alt="" srcset="">
                </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-6">


    </div>
</div>