  <br>
 <div class="container">
  <div class="row">
    <b><i>Galeria de imagenes</i></b> <br><br>
  </div>
  <div class="row">
    <div [innerHtml]="descripcion">    
       
  </div>
  </div>
    <br><br><br>
<div class="container">
    <div class="row">
      <div *ngFor="let imagen of lista_imagenes " class="col-lg-3">
        <div class="img-box1">
          <img style="height:auto" class="img-responsive" [src]="imagen.imagen" >
        </div>
      </div>
    </div>
</div>
 </div>
  







